In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('patients.csv')
df['arrival_date'] = pd.to_datetime(df['arrival_date'])
df['departure_date'] = pd.to_datetime(df['departure_date'])

In [17]:
df.dropna()
# Calcula a média de satisfação do cliente
geral_patients_satisfaction_mean = int(df['satisfaction'].mean())

print("Patients satisfaction mean: " + str(geral_patients_satisfaction_mean))

Patients satisfaction mean: 79

In [18]:
# Lista os serviços mais usados e conta quantas vezes foram utilizados em 2025
most_demanded_services = df.groupby('service', as_index=False)['service'].value_counts().sort_values(by='count', ascending=False)

print("Most demanded services:")
most_demanded_services

Most demanded services:

            service  count
1         emergency    263
3           surgery    254
2  general_medicine    242
0               ICU    241

In [19]:
# Quantidade de pacientes que chegaram por mês.
month = df['arrival_date'].dt.strftime('%m')

amount_of_patients_arrived_per_month= df['arrival_date'].dt.month.value_counts().reset_index().sort_values(by='count', ascending=False)
amount_of_patients_arrived_per_month.rename(columns={"count": "amount"}, inplace=True)


print("Months that more patients arrived:")
amount_of_patients_arrived_per_month

Months that more patients arrived:

    arrival_date  amount
0              9      94
1             10      92
2              8      88
3              5      85
4              1      85
5             11      83
6              7      82
7              6      81
8              4      81
9              2      80
10             3      75
11            12      74

In [20]:
# Tempo médio de internação dos pacientes em dias.
average_length_of_stay = (df['departure_date'] - df['arrival_date']).mean()

print("Average length of stay: " + str(average_length_of_stay.days))

Average length of stay: 7